@{
    ViewBag.Title = "About";
}

<h2>About programm</h2>
<p>
     This programm was created in 2015 by Kristina S. for German O.V. and Trofimovich A.F. in the course "BIBD - part 2" for selling pets.
</p>
